.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.navbar-left {
    display: flex;
    flex-direction: row;
}

.navbar-right {
    color: white;
    border: none;
    background-color: transparent;
}

    .navbar-list {
        > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
      
      > li {
          padding-left: 10px;
          padding-right: 20px;
          float: right;
          display: block;
        
        > a {
          display: block;
          color: white;
          padding: 15px 15px;
          
        }
        > a:hover, > a:active, > a:focus {
          color: red;
          border: 1px solid red;
        }
    }
}

.main {
    background-image: url("../lel.jpg");

    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}