@media screen and (min-width: 601px) {
    .navbar-list {
        > li {
            padding-left: 10px;
            padding-right: 20px;
        > a {
            font-size: 19px;
        }
    }
    }
  }
  

  @media screen and (max-width: 600px) {
    .navbar-list {
        > li {
            padding-left: 0;
            padding-right: 0;
        > a {
            font-size: 10px;
        }
    }
}
  }

.navbar {
    padding-top: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s;
}
.navbar-left {
    display: flex;
    flex-direction: row;
}

.navbar-right {
    padding-bottom: 10px;
    color: white;
    border: none;
}

    .navbar-list {
        > ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
      
      > li {
          float: right;
          display: block;
        
        > a {
            font-weight: bold;
            text-decoration-line: none;
            display: block;
            color: white;
            transition: 0.7s;
            padding: 15px 15px;
          
        }
        > a:hover, > a:active, > a:focus {
          color: rgb(18, 19, 112);
          border: none;
          border-radius: 30px;
          background-color: rgb(194, 208, 255);
        }
    }
}

.navbar-scrolled {
    transition: 0.5s;
    background-color: rgb(64, 116, 194);
    padding-top: 10px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hero {
    background-image: url("../hero_background.jpeg");

    /* Full height */
    height: 100vh; 
    width: auto;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0.5s;
}

.hero-scrolled {
    background-image: url("../hero_background.jpeg");
    transition: 0.5s;

    /* Full height */
    height: 100vh; 
    width: auto;
    opacity: 0.5;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}