<div class="event">
    <div class="date">
        <p class="month">JUN</p>
        <p class="day">23</p>
    </div>
    <img src="https://placebeard.it/400x300" alt="placeholder" />
    <div class="details">
        <div class="title">
            Title of the Risen Event
        </div>
        <p class="location">1015 California area</p>
        <p class="time">7:00 pm - 8:00 pm</p>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores animi sunt vero neque ipsum, hic cum
            voluptas reprehenderit adipisci reiciendis corporis enim delectus tenetur eligendi soluta a accusamus nulla
            odio!
        </p>
        <div class="spacer"></div>
        <div class="tags">
            <div class="tag">Web Development</div>
            <div class="tag">Social Skills</div>
            <div class="tag">Public Speaking</div>
        </div>
        <a href="#" class="goto">View event details <i class="fas fa-long-arrow-alt-right"></i> </a>
    </div>

</div>
<div class="bottom-spacer"></div>