<nav id="nav-scroll" class="navbar">
		<div class="navbar-left">
		</div>
		<div class="navbar-right">
			<ul class="navbar-list">
				<li><a id="subscribeBtn" href="/subscribe.html" style="display:none;">Subscribe</a></li>
				<li><a id="registerBtn" href="../register.html">Register</a></li>
				<li><a id="loginBtn" href="../login.html">Login</a></li>
				<li><a id="adminBtn" href="/admin/dashboard.html" style="display:none;">Admin</a></li>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
</nav>	