<div class="sidenav">
    <div class="title">Event Time</div>
    <a href="/admin/dashboard.html"><i class="fas fa-cog"></i>Dashboard</a>
    <a href="/admin/users.html"><i class="fas fa-user-friends"></i>Users</a>
    <a href="/admin/events.html"><i class="fas fa-calendar"></i>Events</a>
    <a href="/admin/following.html"><i class="fab fa-twitter"></i>Following</a>
    <a href="/admin/notifications.html"><i class="fas fa-bell"></i>Notifications</a>
    <a href="/admin/change_requests.html"><i class="fas fa-exchange-alt"></i>Change requests</a>
</div>