.events {
    margin: 100px 40px;

    .upcoming {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: #6a6a6a;
            font-size: 2rem;
            font-weight: bold;
        }

        .button {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
        }
    }
}

.event {
    display: flex;
    margin-bottom: 20px;

    .date {
        color: #6a6a6a;
        margin-right: 40px;

        .month {
            text-transform: uppercase;
            font-size: 1.5rem;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                height: 2px;
                width: 20px;
                background: #b0b0b0;
                bottom: -10px;
                left: 0;
            }
        }

        .day {
            margin-top: 10px;
            font-size: 3rem;
            font-weight: bold;
        }
    }

    img {
        margin-right: 40px;
        height: 300;
        widows: 400;
    }

    .details {
        color: #b0b0b0;
        position: relative;

        .title {
            color: #6a6a6a;
            font-size: 2rem;
            margin-bottom: 10px;
            font-weight: 500;
        }

        .description {
            margin: 20px 0;
        }

        .spacer {
            height: 1px;
            width: 100%;
            box-shadow: 0px 1px 1px 0px #b0b0b0;
        }

        .goto {
            position: relative;
            color: #6a6a6a;
            text-decoration: none;
            font-size: 1.2rem;
            bottom: 0;

            i {
                margin-left: 10px;
            }
        }
    }

    .tags {
        display: flex;
        margin-top: 20px;

        .tag {
            background-color: #122335;
            color: #fff;
            padding: 5px 20px;
            border-radius: 20px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}