.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/mountains.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    transition: 0.5s;
	
    display: flex;
    align-items: center;
    justify-content: center;
    .hero-content {
        text-align: center;
        color: #fff;
        .title {
            text-transform: uppercase;
            font-size: 5rem;
            letter-spacing: 20px;
            margin-bottom: 50px;
        }
        .eventtitle {
            font-size: 3rem;
            letter-spacing: 20px;
            margin-bottom: 50px;
        }
        .eventdescription {
            margin: 0 25%;
            line-height: 1.5;
            font-size: 1.2rem;
        }
        .eventlocation {
            margin-top: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
        }
        .eventseats {
            margin-top: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
        }
        .eventdate {
            margin-top: 10px;
            line-height: 1.5;
            font-size: 1.5rem;
            font-style: italic;
        }
        .description {
            margin: 0 25%;
            line-height: 1.5;
            font-size: 1.2rem;
            font-style: italic;
        }
        .dots {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 10px;
            .dot {
                margin-top: 20px;
                border-radius: 20px;
                width: 10px;
                height: 10px;
                background-color: #fff;
                &:nth-child(2) {
                    opacity: 0.6;
                }
                &:nth-child(3) {
                    opacity: 0.3;
                }
            }
        }
    }
}

.hero-scrolled {
    background-image: url("../images/mountains.jpeg");
    opacity: 0.5;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
	transition: 0.6s;
	
}
